@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;font-family: "Roboto", sans-serif;}
.update-form{
    width: 500px;
    background-color: white;
    position: fixed;
    top: 15%;
    right: 35%;
    z-index: 9999;
}
.blur-background{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    transition: all .2s ;
    position: absolute;
    z-index: 8888;
}
.table-container{
    height: 630px;
    overflow-y: scroll;
}